@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
  background-color: #282c34;
  color: white;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  display: inline;
  margin-left: 40px;
}

nav ul {
  margin-left: 500px;
}

nav li a:hover {
  color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: white;
    text-decoration: none;
}

.card-image {
  width: 50px;
  height: 50px;
}

.demo_logo {
    width: 80px;
    height: 80px;
}

footer { 
    display: flex;
    justify-items: center;
}

@media only screen and (max-width: 600px) {
  
  nav ul {
    margin-left: 500px;
  }

  /* Hamburger icon */

  .menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .menu-icon__checkbox {
    display: block;
    width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		z-index: 2;
		-webkit-touch-callout: none;
		position: absolute;
		opacity: 0;
  }
  
  .hamb-icon {
    margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 22px;
		height: 12px;
  }

  .hamb-span {
    position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--bar-bg, #000);
		border-radius: 1px;
		transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }

  .hamb-span:first-of-type {
    top: 0;
  }

  .hamb-span:last-of-type {
    bottom: 0;
  }

  .hamb-span.active, .menu-icon__checkbox:checked + div .hamb-span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }

  .hamb-span.active, .menu-icon__checkbox:checked + div .hamb-span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }

  .hamb-span.active:hover .hamb-span:first-of-type,
	.hamb-span.active:hover .hamb-span:last-of-type,
	.hamb-span:hover .menu-icon__cheeckbox:checked + div .hamb-span:first-of-type,
	.hamb-span:hover .menu-icon__cheeckbox:checked + div .hamb-span:last-of-type {
		width: 22px;
	}

  .home-presentation, .cards-presentation, .contact-presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .img-here {
    width: 400px;
    height: 400px;
    background-color: yellow;
  }

  .contact-text h1 {
    font-size: 50px;
  }

  .cards-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-presentation h1 {
    text-align: center;
    font-size: 50px;
  }

  .text-presentation h2 {
    text-align: center;
    font-size: 40px;
  }
  
  .contact-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .text-presentation p {
    display: none;
  }

  .contact-form {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .contact-form input {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
  }

  .card-layout {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 320px;
    height: 420px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    margin-top: -50px;
  }
  
  .card-title {
    font-size: 20px;
    color: black;
  }
  
  .card-info {
    margin: 20px;
    font-size: 16px;
    color: black;
  }

  .card-title, .card-info {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    justify-content: center;
  }

}

@media only screen and (min-width: 600px) {

  nav ul {
    margin-left: 100px;
  }

  .home-presentation {
    display: flex;
    flex: wrap;
    margin: 20px;
  }

  .cards-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards-presentation, .contact-presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .display-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-text h1 {
    font-size: 50px;
  }

  .text-presentation h1 {
    text-align: center;
    font-size: 50px;
  }

  .text-presentation h2 {
    text-align: center;
    font-size: 40px;
  }

  .text-pres-active {
    display: none;
  }
  
  .contact-text h3 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .text-presentation p {
    font-size: 30px;
  }

  .contact-form {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .contact-form input {
    width: 250px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
  }

  .card-layout {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 200px;
    height: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    /* margin-top: -20px; */
  }
  
  .card-title {
    font-size: 16px;
    color: black;
  }
  
  .card-info {
    margin: 10px;
    font-size: 12px;
    color: black;
  }

  .card-title, .card-info {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    justify-content: center;
  }

}

@media only screen and (min-width: 768px) {
  
  nav ul {
    margin-left: 200px;
  }

  .home-presentation {
    display: flex;
    flex: wrap;
    margin: 20px;
  }

  .cards-presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
  }

  .contact-presentation {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .is-img-active {
    display: flex;
    justify-content: center;
  }

  .img-active {
    width: 500px;
    height: 500px;
    background-color: blue;
    
  }

  .display-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-text h1 {
    font-size: 50px;
  }

  .text-presentation h1 {
    text-align: center;
    font-size: 50px;
  }

  .text-presentation h2 {
    text-align: center;
    font-size: 40px;
  }

  .text-pres-active {
    display: none;
  }
  
  .contact-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .text-presentation p {
    font-size: 30px;
  }

  .contact-form {
    margin: 10px;
  }

  .contact-form input {
    width: 350px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
  }

  .card-layout {
    display: inline-flex;
    flex-direction: row;
  }

  .card {
    width: 200px;
    height: 320px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  
  .card-title {
    font-size: 20px;
    color: black;
  }
  
  .card-info {
    margin: 20px;
    font-size: 14px;
    color: black;
  }

  .card-title, .card-info {
    display: flex;
    justify-content: center;
  }


  footer {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

}

@media only screen and (min-width: 992px) {

  nav ul {
    margin-left: 200px;
  }

  .home-presentation {
    display: flex;
    flex: wrap;
    margin: 20px;
  }

  .cards-presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
  }

  .cards-presentation h2 {
    display: flex;
    justify-content: center;
  }

  .contact-presentation {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .text-presentation {
    display: flex;
    flex-direction: column;
    width: calc(100% - 500px);
    margin-right: 20px;
  }

  .is-img-active {
    display: flex;
    justify-content: center;
    display: none;
  }

  .img-here {
    width: 400px;
    height: 400px;
    background-color: green;
  }

  .display-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-text h1 {
    font-size: 50px;
  }

  .text-presentation h1 {
    text-align: center;
    font-size: 50px;
  }

  .text-presentation h2 {
    text-align: center;
    font-size: 20px;
  }

  .text-pres-active {
    display: none;
  }
  
  .contact-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .text-presentation p {
    font-size: 30px;
  }

  .contact-form {
    margin: 10px;
  }

  .contact-form input {
    width: 350px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
  }

  .card-layout {
    display: inline-flex;
  }

  .card {
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 50px;
    height: 50px;
  }
  
  .card-title {
    font-size: 20px;
    color: black;
  }
  
  .card-info {
    margin: 10px;
    font-size: 16px;
    color: black;
  }

  footer {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

}

@media only screen and (min-width: 1200px) { 
  
  .text-presentation {
    display: flex;
    flex-direction: column;
    width: calc(100% - 600px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .img-here {
    width: 500px;
    height: 500px;
    background-color: violet;
  }

}